<head>
    <div style="background-color: black; padding: 20px">
        <h1 class="display-4" style="margin: 20px; color:white">Demo luận văn tốt nghiệp</h1>
    </div>
</head>

<body>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item "><a href="/">Cơ sở</a></li>
        <li class="breadcrumb-item"><a href="/">Hàng đợi </a></li>
        <li class="breadcrumb-item active">Đăng ký</li>
    </ol>
    <div class="pagebody">
        <h1 class="display-4" style="padding: 1%">Đăng ký sử dụng dịch vụ</h1>
        <form method="post" action="/queuerequest/<%=branchID%>/<%=queueID%>/create" style="padding: 1%">
            <div class="form-group">
                <label for="customername">Họ và tên</label>
                <input type="text" name="customername" class="form-control">
            </div>
            <div class="form-group">
                <label for="customerphone">Số điện thoại</label>
                <input type="text" name="customerphone" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label for="customeremail">Email</label>
                <input type="text" name="customeremail" class="form-control"></textarea>
            </div>
            <input type="submit" value="Đăng ký" class="btn btn-primary">
        </form>
    </div>
</body>

<footer class="page-footer pagefooter" >
    <div class="footer-copyright text-center py-3">Bản quyền thuộc về Đại học Bách Khoa TPHCM
    </div>
</footer>