<head>
    <div style="background-color: black; padding: 20px">
        <h1 class="display-4" style="margin: 20px; color:white">Demo luận văn tốt nghiệp</h1>
    </div>
</head>

</body>
<div class="pagebody">
    <h1 class="display-4">Danh sách cơ sở</h1>

    <div class="table-responsive w-auto">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Cơ sở</th>
                    <th>Địa chỉ</th>
                    <th>Tình trạng</th>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <% branch.forEach(function(branch){ %>
                <tr>

                    <td><a href='/branch/<%= branch.id %>'><%= branch.name %></a></td>
                    <td><%= branch.address %></td>
                    <td><%= branch.status %></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    </body>
</div>

<footer class="page-footer pagefooter">
    <div class="footer-copyright text-center py-3">Bản quyền thuộc về Đại học Bách Khoa TPHCM
    </div>
</footer>