<div class="allpage">
  <nav class="headerstyle">
    <h3>Admin dashboard</h3>
  </nav>
  <div class="vertical-menu">
    <a href="#">Home</a>
    <a href="#">Quản lý tài khoản admin</a>
    <a href="#" class="active">Nhân viên</a>
    <a href="#">Dữ liệu hệ thống</a>
  </div>

  <div class="rightpages">
    <h1 class="display-4" style="padding: 1%">Phân quyền</h1>

    <table class="employeetable  table-bordered">
      <colgroup>
        <col span="1" style="width: 30%;">
        <col span="1" style="width: 14%;">
        <col span="1" style="width: 14%;">
        <col span="1" style="width: 14%;">
        <col span="1" style="width: 14%;">
        <col span="1" style="width: 14%;">
      </colgroup>
      <thead>
        <tr>
          <th>Cơ sở</th>
          <th>Quản lý hàng đợi</th>
          <th>Chỉnh sửa thông tin hàng đợi</th>
          <th>Tạo hàng đợi</th>
          <th>Chỉnh sửa thông tin cơ sở</th>
          <th>Xem dữ liệu cơ sở</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Cơ sở test Lý Thường Kiệt test chữ dài</td>
          <td>
            <input type="checkbox" name="controlQueue">
          </td>
          <td>
            <input type="checkbox" name="changeInfoQueue">
          </td>
          <td>
            <input type="checkbox" name="createQueue">
          </td>
          <td>
            <input type="checkbox" name="changeInfoBranch">
          </td>
          <td>
            <input type="checkbox" name="getDataBranch">
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <input type="submit" value="Tạo tài khoản" class="btn btn-primary">
  </form>
</div>