<div class="vertical-menu">
    <a href="#" class="active">Home</a>
    <a href="#">Quản lý tài khoản admin</a>
    <a href="#">Nhân viên</a>
    <a href="#">Dữ liệu hệ thống</a>
  </div>
  <div class="rightpages">
  <h1> Testing </h1>
</div>